@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

body {
  margin: 96px 32px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #212121;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body * {
  box-sizing: border-box;
}

.layout {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.kanban-description-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 32px;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 12px;
  margin-left: 16px;
}

.img-container {
  height: 35px;
  width: 37px;
}

h1 {
  font-weight: 900;
  font-size: 2em;
  margin-left: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.kanban-description {
  color: #71706f;
  max-width: 700px;
  line-height: 1.6em;
  margin: 0 0 0 16px;
}

.kanban {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
  width: 780px;
  background-color: #f1f0ec;
  padding: 16px;
}

.kanban * {
  font-weight: 400;
}

.kanban-column {
  margin: 16px;
  flex: 1;
}

.kanban-column:not(:last-child) {
  margin-right: 30px;
}

.kanban-column-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.kanban-column-title {
  font-size: 1.3em;
  user-select: none;
  font-weight: 700;
  margin-left: 12px;
}

.kanban-item-input {
  padding: 10px 15px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  height: 80px;
}

.kanban-dropzone {
  height: 24px;
  transition: background 0.15s, height 0.15s;
}

.kanban-dropzone-active {
  height: 24px;
  background: rgba(113, 112, 111, 0.1);
}

.kanban-column-add-item {
  width: 32px;
  height: 32px;
  font-size: 24px;
  font-weight: 900;
  color: black;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d4d3d2;
  transition: 250ms;
}

.kanban-column-add-item:hover {
  background-color: #a9a8a7;
  transition: 250ms;
}
